{% extends "base.html" %}
{% block content %}
<section class="container" style="padding-top: 3rem;">
    <div class="jumbotron">
      <div class="flex">
        <h1 class="jumbo-header">Success!</h1>
          <p class="lead-text">
            Your round of golf has been recorded!    
          </p>
          <p class="lead-text">
            If you submitted too early, no problem. Just go back to the 'track' page and start plugging in more data.
            As long as your name and the date are the same, the data can be correlated.
          </p>
      </div>
    </div>
  </section>
{% endblock %}
